/*body {
    background-color: #020115;
    margin-bottom: 30px;
    margin: 0;
    padding: 0;
}*/

body {
    font-family: 'Audiowide', sans-serif;
    background: radial-gradient(circle, black, #0282ff, black);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

button {
    padding: 10px;
    font-size: 20px;
    margin-top: 5px;
    border: 1px solid black;
    background: #0282ff;
    border-radius: 5%;
    margin-right: 10px;
    font-family: 'Orbitron';
}

button:hover {
    cursor: pointer;
    background-color: gray;
}

button:focus {
    background: gray;
}

h2,
p {
    font-family: 'Orbitron';
}

h2 {
    display: none;
}

.header {
    font-family: 'Audiowide', cursive;
    color: #17206b;
    /*text-shadow: 5px 3px 5px #51dfff;*/
    text-shadow: 0 0 0.5em #51dfff, 0 0 0.5em #51dfff, 0 0 0.5em #51dfff;
    text-align: center;
    font-size: 25px;
}

.header-box {
    text-align: center;
}

canvas {
    width: 100%;
    text-align: center;
    /*box-shadow: 5px 5px 5px #17206b;*/
    box-shadow: 0 0 1em #51dfff, 0 0 1em #51dfff, 0 0 1em #51dfff;
}

.name-craft-box {
    box-shadow: 0 0 1em #51dfff, 0 0 1em #51dfff, 0 0 1em #51dfff;
    display: inline-block;
    padding-left: 10px;
}

.name-craft-box header {
    font-weight: bold;
}

.space-station {
    display: inline-block;
    vertical-align: top;
    box-shadow: 0 0 1em #51dfff, 0 0 1em #51dfff, 0 0 1em #51dfff;
    padding-left: 10px;
}

.space-station header {
    font-weight: bold;
}

.reveal-content {
    display: block;
}

#start-game {
    text-align: center;
}